Repository gecakou/spacedrive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamiepine, @Brendonovich, @oscartbeaumont, @spacedriveapp/mobile, @spacedriveapp/backend, @spacedriveapp/frontend

Fix build scripts for release instead of debug
  apps/mobile/modules/sd-core/android/build.sh
  apps/mobile/modules/sd-core/ios/build-rust.sh
Owners: @spacedriveapp/mobile

Update Native Module package ID
  apps/mobile/modules/@sd/native-functions/.eslintrc.js
  apps/mobile/modules/@sd/native-functions/.gitignore
  apps/mobile/modules/@sd/native-functions/.npmignore
  apps/mobile/modules/@sd/native-functions/example/.gitignore
  apps/mobile/modules/@sd/native-functions/example/App.tsx
  apps/mobile/modules/@sd/native-functions/example/app.json
  apps/mobile/modules/@sd/native-functions/example/assets/adaptive-icon.png
  apps/mobile/modules/@sd/native-functions/example/assets/favicon.png
  apps/mobile/modules/@sd/native-functions/example/assets/icon.png
  apps/mobile/modules/@sd/native-functions/example/assets/splash.png
  apps/mobile/modules/@sd/native-functions/example/babel.config.js
  apps/mobile/modules/@sd/native-functions/example/metro.config.js
  apps/mobile/modules/@sd/native-functions/example/package-lock.json
  apps/mobile/modules/@sd/native-functions/example/package.json
  apps/mobile/modules/@sd/native-functions/example/tsconfig.json
  apps/mobile/modules/@sd/native-functions/example/webpack.config.js
  apps/mobile/modules/@sd/native-functions/expo-module.config.json
  apps/mobile/modules/@sd/native-functions/package-lock.json
  apps/mobile/modules/@sd/native-functions/package.json
  apps/mobile/modules/@sd/native-functions/src/NativeFunctions.types.ts
  apps/mobile/modules/@sd/native-functions/src/NativeFunctionsModule.ts
  apps/mobile/modules/@sd/native-functions/src/NativeFunctionsModule.web.ts
  apps/mobile/modules/@sd/native-functions/src/NativeFunctionsView.tsx
  apps/mobile/modules/@sd/native-functions/src/NativeFunctionsView.web.tsx
  apps/mobile/modules/@sd/native-functions/src/index.ts
  apps/mobile/modules/@sd/native-functions/tsconfig.json
  apps/mobile/modules/native-functions/README.md
  apps/mobile/modules/native-functions/android/build.gradle
  apps/mobile/modules/native-functions/android/src/main/AndroidManifest.xml
  apps/mobile/modules/native-functions/android/src/main/java/app/spacedrive/utils/native/functions.kt
  apps/mobile/modules/native-functions/example/App.tsx
  apps/mobile/modules/native-functions/expo-module.config.json
  apps/mobile/modules/native-functions/ios/NativeFunctions.podspec
  apps/mobile/modules/native-functions/ios/NativeFunctionsModule.swift
  apps/mobile/modules/native-functions/package-lock.json
  apps/mobile/modules/native-functions/package.json
  apps/mobile/modules/native-functions/src/index.ts
  apps/mobile/package.json
  apps/mobile/src/screens/settings/info/Debug.tsx
Owners: @spacedriveapp/mobile

Get working packaging & imports
  apps/mobile/src/screens/settings/info/Debug.tsx
  packages/native-functions/.eslintrc.js
  packages/native-functions/.gitignore
  packages/native-functions/.npmignore
  packages/native-functions/README.md
  packages/native-functions/example/.gitignore
  packages/native-functions/example/App.tsx
  packages/native-functions/example/app.json
  packages/native-functions/example/assets/adaptive-icon.png
  packages/native-functions/example/assets/favicon.png
  packages/native-functions/example/assets/icon.png
  packages/native-functions/example/assets/splash.png
  packages/native-functions/example/babel.config.js
  packages/native-functions/example/metro.config.js
  packages/native-functions/example/package-lock.json
  packages/native-functions/example/package.json
  packages/native-functions/example/tsconfig.json
  packages/native-functions/example/webpack.config.js
  packages/native-functions/expo-module.config.json
  packages/native-functions/package-lock.json
  packages/native-functions/package.json
  packages/native-functions/src/NativeFunctions.types.ts
  packages/native-functions/src/NativeFunctionsModule.ts
  packages/native-functions/src/NativeFunctionsModule.web.ts
  packages/native-functions/src/NativeFunctionsView.tsx
  packages/native-functions/src/NativeFunctionsView.web.tsx
  packages/native-functions/src/index.ts
  packages/native-functions/tsconfig.json
  pnpm-lock.yaml
Owners: @spacedriveapp/mobile, @spacedriveapp/frontend, @jamiepine

Update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @jamiepine

More trying
  apps/mobile/app.json
  apps/mobile/package.json
  packages/native-modules/android/build.gradle
  packages/native-modules/android/src/main/java/app/spacedrive/nativemodules/NativeModulesModule.kt
  packages/native-modules/android/src/main/java/app/spacedrive/nativemodules/NativeModulesView.kt
  packages/native-modules/example/App.tsx
  packages/native-modules/expo-module.config.json
  packages/native-modules/package.json
  packages/native-modules/src/NativeModulesModule.ts
  packages/native-modules/src/NativeModulesView.tsx
  packages/native-modules/src/NativeModulesView.web.tsx
  packages/native-modules/src/index.ts
Owners: @spacedriveapp/mobile, @spacedriveapp/frontend

.github/CODEOWNERS:

# default
# disabled for now because we have some dead code that doesn't really need reviewed yet
# * @spacedriveapp


# documentation
/apps/landing/src/pages/docs/ @jamiepine
/docs/ @jamiepine

# frontend apps (Rust bridges and tech functionality -- no real visual implications)
/apps/desktop/ @jamiepine @Brendonovich @oscartbeaumont
/apps/web/ @jamiepine

# mobile
/apps/mobile/ @spacedriveapp/mobile

# core logic
/core/ @spacedriveapp/backend
/crates/ @spacedriveapp/backend

# server app
/apps/server/ @oscartbeaumont

# landing site
/apps/landing/ @spacedriveapp/frontend

# UI
/packages/ @spacedriveapp/frontend

# base config files
/* @jamiepine

# workspace settings
/.vscode/settings.json @jamiepine
/.github/* @jamiepine @Brendonovich @oscartbeaumont

# CI
/.github/actions/ @Brendonovich @oscartbeaumont
/.github/workflows/ @Brendonovich @oscartbeaumont

# development workflow
/.github/scripts/ @oscartbeaumont
/.github/ISSUES_TEMPLATE/ @jamiepine @Brendonovich @oscartbeaumont
